<div class="profile-update-wrapper">
  <div id="form-container" class="box profile-update-box">
    <h2 id="profile-update-title" class="subtitle is-3">Edit Your Profile Information</h2>
  
    <hr>
  
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        
        <div class="two-field-lines">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :username, required: false, wrapper_html: { class: "right-gets-padded" } %>
        </div>
  
        <div class="two-field-lines">
          <%= f.input :first_name, required: false %>
          <%= f.input :last_name, required: false, wrapper_html: { class: "right-gets-padded" } %>
        </div>
        
        <%= f.simple_fields_for :profile do |p| %>
          <div class="two-field-lines">
            <%= p.input :city,
                        placeholder: "City",
                        required: false%>
            <%= p.input :state,
                        placeholder: "State",
                        required: false,
                        wrapper_html: { class: "right-gets-padded" } %>
          </div>
  
          <div class="two-field-lines">
            <%= p.input :job,
                        placeholder: "Job",
                        required: false%>
            <%= p.input :workplace,
                        placeholder: "Workplace",
                        required: false,
                        wrapper_html: { class: "right-gets-padded" } %>
          </div>
  
          <%= p.input :profile_pic_url,
                      placeholder: "Profile Picture URL",
                      required: false,
                      label: "Profile picture" %>
        <% end %>
  
        <div class="two-field-lines">
          <%= f.input :password,
                      placeholder: "Leave blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: "Retype password",
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      wrapper_html: { class: "right-gets-padded" } %>
        </div>
  
        <%= f.input :current_password,
                    placeholder: "Please type current password to confirm changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
  
      <hr>
  
      <div id="update-profile-action" class="form-actions">
        <%= f.button :submit, "Update", class: "form-page-btns send-email" %>
        <%= link_to "Back", :back, class: "button form-page-btns cancel" %>
    
        <p>
          <%= link_to "Unhappy? Cancel my account",
                      registration_path(resource_name),
                      data: { confirm: "Are you sure?" },
                      method: :delete,
                      class: "form-nav" %>
        </p>
  
      </div>
    <% end %>
  </div>
</div>