<div class="column">
  <h1 class="title is-2">farcebook</h1>
  <h2 class="subtitle is-4">Didn't get your unlock email?</h2>
</div>

<div class="column">
  <div id="form-container" class="box unlock-email-resend-box">
    <h2 class="subtitle is-5">Resend unlock instructions</h2>
    
    <hr>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <hr>

      <div class="form-actions">
        <%= f.button :submit, "Resend email", class: "form-page-btns send-email" %>
        <%= link_to 'Cancel', new_session_path(resource_name), class: "button form-page-btns cancel" %>
      </div>
    <% end %>

  </div>
</div>