<div class="columns is-centered u-i-full">
  <div class="column is-half">
    <div class="box">
      <div id="title-wrap">
        <h2 class="title is-3">Add People You Know</h2>
      </div>
    
      <% @users.each do |user| %>
        <div class="single-user">
          <%= link_to user_path(user), class: "person-info" do %>
            <div class="user-link">
              <div class="info-wrapper">
                <% if user.profile && user.profile.profile_pic_url && user.profile.profile_pic_url != "" %>
                  <img src="<%= user.profile.profile_pic_url %>" alt="" class="thumbnail">
                <% else %>
                  <img src="<%= image_path('no_profile_pic_60x60.png') %>" alt="" class="thumbnail">
                <% end %>
    
                <div class="person-info-text">
                  <div>
                    <span><%= user.first_name %></span>
                    <span><%= user.last_name %></span>
                  </div>
                  <div>(<%= user.username %>)</div>
                </div>
              </div>
            </div>
          <% end %>

          <div class="link-wrapper">
            <% if @current_friends.include? user %>
              <div class="button user-index-page-btns already-friend"><%= fa_icon('check-circle') %>Already Friends</div>
              <div>
                <%= link_to "Delete Friendship?", friendship_path(id: 0, :user => {id: user.id}), method: :delete, class: "button user-index-page-btns delete-friendship" %>
              </div>
            <% elsif @pending_friends.include? user %>
              <div class="button user-index-page-btns pending-friend">Pending Friendship</div>
              <div>
                <%= link_to "Cancel Request?", friendship_path(id: 0, :user => {id: user.id}), method: :delete, class: "button user-index-page-btns delete-friendship" %>
              </div>
            <% else %>
              <div>
                <%= link_to "Send Request", friendships_path(:user => {id: user.id}), method: :post, class: "button user-index-page-btns add-friend" %>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
