<div class="columns main-page-cols">
  <div class="column">
    <div id="new-post-box" class="box">
      <div id="main-post-heading">
        <div id="create-post-header-wrapper">
          <h2 class="subtitle is-5" id="create-new-post-subtitle">Create new post</h2>
        </div>

        <div id="line"></div>
      </div>

      <div id="new-post-btn-wrapper">
        <%= render "main_page_form" %>
      </div>
    </div>
    
    <div id="newsfeed">
      <% @posts.each do |post| %>
        <%= render partial: 'feed', locals: { post: post } %>
      <% end %>
    </div>
  </div>

  <div class="column is-one-quarter">
    <div class="box friend-list-wrapper">
      <div class="friend-list-header">
        <h2 class="subtitle is-5" id="">Friend List</h2>
        <hr>
      </div>

      <div class="friend-list">
        <% @friends.each do |friend| %>
          <div class="single-user s-u-main">
            <%= link_to user_path(friend), class: "person-info" do %>
              <div class="user-link">
                <div class="info-wrapper">
                  <% if friend.profile && friend.profile.profile_pic_url %>
                    <img src="<%= friend.profile.profile_pic_url %>" alt="" class="thumbnail">
                  <% else %>
                    <img src="<%= image_path('no_profile_pic_60x60.png') %>" alt="" class="thumbnail">
                  <% end %>
      
                  <div class="person-info-text">
                    <div>
                      <span class="username"><%= friend.first_name %></span>
                      <span class="username"><%= friend.last_name %></span>
                    </div>
                    <div class="username">(<%= friend.username %>)</div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>