<div class="columns">
  <div class="column">
    <div class="container">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </div>
  </div>

  <div class="column is-half">
    <div class="container"">
      <% @posts.each do |post| %>
        <div>
          <% if post.is_a?(TextPost) %>
            <p><%= post.user.username %></p>
            <p><%= post.post_body %></p>
            <%= link_to "Show", post_path(id: post.id, type: post.class.name), class: "button" %>
          <% else %>
            <p><%= post.user.username %></p>
            
            <% if !post.picture_title.nil? %>
              <p><%= post.picture_title %></p>
            <% end %>
            <% if !post.picture_body.nil? %>
              <p><%= post.picture_body %></p>
            <% end %>

            <%= link_to "Show", post_path(id: post.id, type: post.class.name), class: "button" %>



            <img src="<%= post.picture_url %>" alt="">
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="column">
    <div class="container"">
      <% @friends.each do |friend| %>
        <div>
          <span><%= friend.first_name %> <%= friend.last_name %></span>
          <span>.    Friend Req Btn</span>
        </div>
      <% end %>
    </div>
  </div>
</div>