<div id="post-contents" class="box">
  <% if @post.class.name == "PicturePost" %>
    <%= render "picture_post" %>
  <% else %>
    <%= render "text_post" %>
  <% end %>

  <div class="columns is-gapless is-mobile bottom-bar">
    <div class="column no-pad">
      <hr class="post-side-hr">
    </div>

    <div id="post-like-btn-column" class="column no-pad">
      <% if current_user.can_like(@post) %>
        <%= link_to likes_path(:likes => {likeable_type: @post.class.name, likeable_id: @post.id}),
                    class: "button like",
                    id: "post-side-btn",
                    method: :post do %>
          <span><%= fa_icon("thumbs-up") %></span>
          <span>Like</span>
        <% end %>
      <% elsif current_user.id == @post.user_id %>
        <%= link_to fa_icon('trash'),
                      post_path(:post => {id: @post.id, type: @post.class.name}),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "trash-can" %>
      <% else %>
        <%= link_to like_path(:likes => {likeable_type: @post.class.name, likeable_id: @post.id}),
                    class: "button already-liked",
                    id: "post-side-btn",
                    method: :delete do %>
          <span><%= fa_icon("check-circle") %></span>
          <span>Liked</span>
        <% end %>
      <% end %>
    </div>
    
    <div class="column no-pad">
      <hr class="post-side-hr">
    </div>
  </div>
</div>

<div id="spacer">
  <div id="comment-contents" class="box">
    <div id="comment-header">
      <div class="subtitle is-5 comment-header-label-comm">
        <span id="comment-count">Comments:</span>
        <span id="count"></span>
      </div>

      <div class="user-details">
        <%= link_to user_path(@post.user) do %>
          <div>
            <div class="user-pic">
              <% if @post.user.profile && @post.user.profile.profile_pic_url && @post.user.profile.profile_pic_url != "" %>
                <img src="<%= @post.user.profile.profile_pic_url %>" alt="" class="thumbnail">
              <% else %>
                <img src="<%= image_path('no_profile_pic_60x60.png') %>" alt="" class="thumbnail">
              <% end %>
            </div>
  
            <div class="username-header">
              <%= @post.user.username %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="subtitle is-5 comment-header-label-like">
        <span id="likes-count">Likes:</span>
        <span><%= @post.likes.count %></span>
      </div>
    </div>

    <%= render partial: 'comment', collection: @post.comments %>
    <br>
    <%= render partial: 'comment_form' %>
    
  </div>
</div>
