<!DOCTYPE html>
<html>
  <head>
    <title>Farcebook| A Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to posts_path, class: "navbar-item" do %>
            <img class="header-icon" src="<%= image_path('facebook_icon_40x40.png') %>">
            <span id="fb_logo">arcebook</span>
          <% end %>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar-main" class="navbar-menu">
          <div class="navbar-start">
            <%= link_to posts_path, class: "navbar-item header-link" do %>
              <%= fa_icon('home') %>
            <% end %>

            <%= link_to users_path, class: "navbar-item header-link" do %>
              <%= fa_icon ("users") %>
            <% end %>
          </div>

          <div class="navbar-end">
            <div id="burger-only">
              <%= link_to "Find friends", users_path, class: "navbar-item burger-only-link" %>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless">
                <%= fa_icon('plus') %>
              </a>

              <div class="navbar-dropdown is-right">
                <span class="navbar-item subtitle is-6">Create</span>
                <hr class="navbar-divider">
                <%= link_to "Post", new_post_path(:post => {type: "TextPost"}), class: "navbar-item" %>
                
                <%= link_to "Picture", new_post_path(:post => {type: "PicturePost"}), class: "navbar-item" %>
              
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless">
                <%= fa_icon('bell') %>
              </a>

              <div id="notification-menu" class="navbar-dropdown is-right">
                <span class="navbar-item subtitle is-6">Notifications</span>
                <hr class="navbar-divider">

                <% friend_requests = current_user.list_of_rec_requests %>
                
                <% if friend_requests.length > 0 %>
                  <div class="note-type">Pending friend requests from: </div>
                <% else %>
                  <div class="note-type no-new">No new friend requests.</div>
                <% end %>

                <% friend_requests.each do |friend_request| %>
                  <div class="notifications-request">
                    <div class="notifications-request-sender">
                      <%= link_to friend_request.user.username, user_path(friend_request.user_id) %>
                    </div>

                    <div class="notifications-request-btn">
                      <%= link_to "Accept", friendship_path(friend_request), method: :put, class: "button form-page-btns accept-request" %>
                      <%= link_to "Decline", friendship_path(id: 0, :user => {id: friend_request.user_id}), method: :delete, class: "button form-page-btns decline-request" %>
                    </div>
                  </div>
                <% end %>

                <% unseen_content = current_user.unseen_likes_comments %>

                <% if unseen_content.length > 0 %>
                  <div class="note-type">Recent Activity: </div>
                <% else %>
                  <div class="note-type no-new">No new activity on your content.</div>
                <% end %>

                <% unseen_content.each do |activity| %>
                  <div class="notifications-list">
  
                    <% if activity.class.name == "Comment" %>
                      <%= link_to notifications_path(:activity => {id: activity.commentable_id, type: activity.commentable_type}) do %>  
                        <div class="notifications-activity">
                          
                          <div class="user-pic-nav">
                            <% if activity.user.profile && activity.user.profile.profile_pic_url && activity.user.profile.profile_pic_url != "" %>
                              <img src="<%= activity.user.profile.profile_pic_url %>" alt="" class="mini-thumbnail">
                            <% else %>
                              <img src="<%= image_path('no_profile_pic_60x60.png') %>" alt="" class="mini-thumbnail">
                            <% end %>
                          </div>
                          
                          <span class="notifications-username"><%= activity.user.username %></span>

                          <% if activity.commentable_type == "TextPost" %>
                            <span class="notifications-content">has commented on your post.</span>
  
                          <% elsif activity.commentable_type == "PicturePost" %>
                            <span class="notifications-content">has commented on your post.</span>
  
                          <% elsif activity.commentable_type == "Comment" %>
                            <span class="notifications-content">has replied to your comment.</span>
                          <% end %>
                        </div>
                      <% end %>

                      <%= link_to comment_path(activity), method: :put, class: "dismiss" do %>
                        <%= fa_icon('times') %>
                      <% end %>
  
                    <% else %>
                      <%= link_to notifications_path(:activity => {id: activity.likeable_id, type: activity.likeable_type}) do %>  
                        <div class="notifications-activity">
                          <div class="user-pic-nav">
                            <% if activity.user.profile && activity.user.profile.profile_pic_url && activity.user.profile.profile_pic_url != "" %>
                              <img src="<%= activity.user.profile.profile_pic_url %>" alt="" class="mini-thumbnail">
                            <% else %>
                              <img src="<%= image_path('no_profile_pic_60x60.png') %>" alt="" class="mini-thumbnail">
                            <% end %>
                          </div>

                          <span class="notifications-username"><%= activity.user.username %></span>

                          <% if activity.likeable_type == "TextPost" %>
                            <span class="notifications-content">has liked your post.</span>
  
                          <% elsif activity.likeable_type == "PicturePost" %>
                            <span class="notifications-content">has liked your post.</span>
                            
                          <% elsif activity.likeable_type == "Comment" %>
                            <span class="notifications-content">has liked your comment.</span>
                          <% end %>
                        </div>
                      <% end %>
  
                      <%= link_to like_path(activity), method: :put, class: "dismiss" do %>
                        <%= fa_icon('times') %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless">
                <%= fa_icon('user-circle') %>
              </a>

              <div id="user-menu" class="navbar-dropdown is-right">
                <span class="navbar-item subtitle is-6"><%= current_user.username %></span>
                <hr class="navbar-divider">
                <%= link_to "View Profile", user_path(current_user), class: "navbar-item" %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar-item" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="flashes">
      <% if flash[:notice] %>
        <div class="notification is-primary global-notification">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification is-danger global-notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    </div>
      
    <div class="contents">
      <%= yield %>
    </div>

  </body>
</html>
